<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, animi eligendi esse rerum adipisci blanditiis quas similique beatae, omnis voluptatem optio aperiam architecto atque repellat nesciunt? Alias minima eius deleniti.</p>
    </div>
</div>