<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab animi saepe tempora, eius labore alias iusto atque omnis fugiat aliquam facilis ut ratione recusandae ea provident quidem unde fuga excepturi.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sed corporis nulla magni quis ea inventore officia sapiente praesentium omnis dolorum excepturi tempore distinctio cum ipsam atque, est consectetur suscipit.</p>
    <a href="/about" class="btn btn-primary btn-lg">About</a>
</div>